<ion-toolbar>
  <ion-row>
    <ion-col col-3>
      <ion-buttons *ngIf="addBack" start>
        <button ion-button menuToggle (click)="openMenu()">
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
    </ion-col>
    <ion-col col-6>
      <ion-buttons *ngIf="addHome">
        <button ion-button icon-only color="royal" (click)="gotoHomepage()">
          <ion-title>OUR LOGO</ion-title>
        </button>
      </ion-buttons>
    </ion-col>
    <ion-col col-3>
      <ion-buttons *ngIf="addPerson" end>
        <button ion-button icon-only color="royal" (click)="gotoAccountMenu()">
          <ion-icon name="person"></ion-icon>
        </button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-toolbar>