<ion-toolbar>
  <ion-buttons *ngIf="addBack" start>
    <button ion-button icon-only color="royal">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title> </ion-title>
  <ion-buttons *ngIf="addHome" end>
    <button ion-button icon-only color="royal">
      <ion-icon name="home"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons *ngIf="addPerson" end>
      <button ion-button icon-only color="royal" (click)="gotoAccountMenu()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
</ion-toolbar>