page-register {
  ion-card-header {
    margin: 20px 0 15px 0;
    font-size: 22px !important;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, 0.6) !important;
  }

  .avatar {
    margin: auto;
    padding-bottom: 10px;
  }

  .skip-button {
    margin-bottom: 10px;
    float: right;
  }

  .login-background {
    position: absolute;
    bottom: -25%;
    left: 0px;
    z-index: -5;
  }

  ion-content {
    background-color: #D8F3F7 !important;
  }

  ion-list-header {
    font-size: 12px !important;
    color: #999 !important;
    margin-bottom: 0 !important;
  }

  ion-list-header ion-label {
    margin-bottom: 0 !important;
  }

  ion-input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 0;
  }

}
}

