page-topic-four {

  .SwipedTabs-indicatorSegment {
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    transform-origin: top 0 left 0;
    height: 1px;
    position: relative;
    top: -2px;
    background-color: #3333CC !important;
  }

  .SwipedTabs-tabs ion-segment-button {
    border: none !important;
    color: #249E89 !important;
    background-color: white !important;
  }

  .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab {
    color: #3333CC !important;
  }

  .SwipedTabs-tabs {
    width: fit-content !important;
  }

  ion-slide {
    overflow: auto;
  }

  .swiper-slide {
    display: block;
  }

  .slide-zoom {
    height: 100%;
  }

  ion-header {
    height: 106px;
  }

  //ion-item{
  //     height: 95vh;
  //}

  .arrow-up-style, .arrow-down-style {
    position: fixed;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .arrow-up-style {
    top: 20px;
  }

  .arrow-down-style {
    bottom: 20px;
  }

  .arrow-right-style {
    position: absolute;
    right: 10px;
    text-align: right;
    vertical-align: middle;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
  }

  .container-intro, .container-slides-content {
    width: 100%;
    text-align: center;
    padding: 10px;
    display: table;
  }

  .container-slides-content {
    height: 83vh;
  }

  .container-intro {
    height: 86vh;
  }

  .vertical-center {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px 0 15px;
  }

  .icon_property {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .icon-intro-property {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 20%;
    max-width: 20%;
  }

  .line-separator-short {
    height: 1px;
    border-bottom: 2px solid #FEAA48;
    width: 80px;
    margin: auto;
  }

  .line-separator-long {
    height: 1px;
    border-bottom: 2px solid #FEAA48;
    width: 90%;
    margin: auto;
  }

  .slide-subtitle, h3, p {
    color: rgba(0, 0, 0, 0.7);
  }

  .slide-subtitle {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    padding: 0 10px 0 10px;
    margin-top: 30px;
  }

  h3 {
    font-size: 22px;
    font-weight: normal;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    padding: 0 15px 0 15px;
    margin-top: 0;
  }

  a {
    color: #6666CC;
  }

  .sea-bg-gradient {
    background: linear-gradient(#E7F7F9, #82E0EF, #24337A);
  }

  .sea-gradient-wrapper {
    position: relative;

  }

  .sea-gradient {
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
    animation: move_wave 12s linear infinite;
    z-index: -1;
  }

  @keyframes move_wave {
    0% {
      transform: translateX(0) translateZ(0) scaleY(1)
    }
    30% {
      transform: translateX(0) translateZ(0) scaleY(1.2)
    }
    50% {
      transform: translateX(0) translateZ(0) scaleY(1.1)
    }
    80% {
      transform: translateX(0) translateZ(0) scaleY(1.4)
    }
    100% {
      transform: translateX(0) translateZ(0) scaleY(1)
    }
  }

  .events-container {
    padding-bottom: 20px;
    background: #F1FBF9;
  }

  .events-title {
    font-size: 22px;
    text-align: left;
  }

  ion-list-header {
    background-color: transparent !important;
    color: #3C3CAF !important;
  }

  .date-wrapper-1 {
    height: 123px;
    background-image: url("../../assets/imgs/pic-beach-cleanup.png");
    display: table;
  }

  .date-wrapper-2 {
    height: 123px;
    background-image: url("../../assets/imgs/pic-recycle.png");
    display: table;
  }

  .date-bg {
    background-color: rgba(255, 255, 255, 0.8) !important;
    display: table-cell;
    vertical-align: middle;
  }

  .day, .month, .year {
    font-weight: bold;
    color: #3C3CAF;
  }

  .day {
    font-size: 24px;
  }

  .month {
    font-size: 16px;
    margin-top: -5px;
  }

  .year {
    font-size: 12px;
  }

  .info-wrapper {
    padding: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }

  .card-title {
    font-weight: bold;
    padding-bottom: 8px;
  }

  .time, .contact, .card-title, .location {
    text-align: left;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
  }

  .location {
    padding-bottom: 8px;
  }

  .slide-title-main {
    color: #4747C2;
    font-size: 30px;
    font-weight: normal;
  }

  .slide-title2-main {
    color: #4747C2;
    margin-top: -15px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .game-container {
    margin-top: 0px;
    width: 100%;
    height: 53vh;
    text-align: center;
    padding: 30px 10px 30px 10px;
    background: url("../../assets/imgs/game-intro-bg.png") no-repeat;
    display: table;

  }

  .container-btn-content-game {
    margin: 0px;
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
  }

  .text-shadow {
    //text-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 0px;
  }

  .game-content-wrapper {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .game-content-wrapper h4 {
    margin-bottom: 5px;
  }


}