page-alternatives {
    .alternativeMenu{
        background: white;
        z-index: 10 !important;
        padding: 20px 0 !important;
    }

    .alternativeMenu > button{
        padding: 20px 8px !important;
    }    

    .alternativeMenu > button.active{
        color: white;
        background-color: #2CBFA6;
    }

    .img.header-image{
        height: 60vh;
    }
    .img{
        width: 100%;
    }
    .main-content {
        width: 100%;        
        height: 85vh;
        background-color: white;
        border-top: 1px solid #ccc;
    }

    .arrawDiv{
        position: absolute;
        width: 100%;
        padding-top: 2.5em;        
        font-size: 25px;
    }

    .slide-zoom {
        overflow: hidden;
    }
}
