<ion-header no-border="">
  <ion-toolbar class="modal-toolbar" color="lightest">
    <ion-buttons end="">
      <button ion-button (click)="close()" icon-only="">
        <ion-icon name="close" large=""></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitEventForm()">
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-select [(ngModel)]="event.date.day" interface="popover" name="day">
        <ion-option *ngFor="let day of days" [value]="day">{{day}}</ion-option>
      </ion-select>
      <ion-select [(ngModel)]="event.date.month" interface="popover" name="month">
        <ion-option *ngFor="let month of months" [value]="month">{{month}}</ion-option>
      </ion-select>
      <ion-select [(ngModel)]="event.date.year" interface="popover" name="year">
        <ion-option *ngFor="let year of years" [value]="year">{{year}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" [(ngModel)]="event.title" name="title" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Location</ion-label>
      <ion-input type="text" [(ngModel)]="event.location" name="location" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>time</ion-label>
      <ion-input type="text" [(ngModel)]="event.time" name="time" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>contact</ion-label>
      <ion-input type="text" [(ngModel)]="event.contact" name="contact" required></ion-input>
    </ion-item>
    <button ion-button type="submit" block>Create event</button>
    <ion-label *ngIf="showError" color="danger">Oops! Some information is missing.</ion-label>

  </form>
</ion-content>