<!--Modal for interactive map-->

<ion-header no-border="">
  <ion-toolbar class="modal-toolbar" color="lightest">
    <!--<ion-title>{{specieTitle}}</ion-title>-->
    <ion-buttons end="">
      <button ion-button (click)="close()" icon-only="">
        <ion-icon name="close" large=""></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  <ion-content padding>
    <div class="content-wrapper">
      <img src="{{image}}">
      <h4 class="title">{{label}}</h4>
      <p class="description">{{description}}</p>
    </div>
  </ion-content>