<ion-header>
    <ion-toolbar>
      <ion-title>
        Quiz
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="showLeaveConfirm()">
          <span ion-text color="primary">Cancel</span>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-slides #quizSlides>
      <ion-slide *ngFor="let question of topic.questionList; index as i">
        <h3>{{question.question}}</h3>
        <ion-buttons *ngFor="let option of question.options">
          <button ion-button block large 
            [ngClass]="[btnStyle]"
            [disabled]="disableButtons"
            (click)="checkAnswer($event, i, option)">
            {{option.description}}
          </button>
        </ion-buttons>
      </ion-slide>
    </ion-slides>
  </ion-content>