<ion-menu [content]="content" [swipeEnabled]="false">

  <ion-header>
    <ion-toolbar>
      <ion-title>MENU</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header>Pages</ion-list-header>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
    <ion-list>
        <ion-list-header>Settings</ion-list-header>
        <!-- <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button> -->
      </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>

<script>
  var canvas = document.getElementsByTagName("canvas");
if (canvas.getContext) 
{
var ctx = canvas.getContext('2d');
ctx.shadowColor = "black";
ctx.shadowBlur = 6;
ctx.shadowOffsetX = 6;
ctx.shadowOffsetY = 6;
ctx.shadowColor = "orange";
ctx.strokeRect(25, 25, 200, 200);
ctx.shadowColor = "green";
ctx.strokeRect(50, 50, 200, 200);
ctx.shadowColor = "blue";
ctx.strokeRect(75, 75, 200, 200);
ctx.shadowColor = "red";
ctx.strokeRect(100, 100, 200, 200);
}
</script>
