<ion-header no-border="">
  <ion-toolbar class="modal-toolbar" color="lightest">
    <!--<ion-title>{{specieTitle}}</ion-title>-->
    <ion-buttons end="">
      <button ion-button (click)="close()" icon-only="">
        <ion-icon name="close" large=""></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding="">
  <div class="content-wrapper">
    <img class="icon-property" src="{{specieImage}}">
    <h1 class="title"> {{specieTitle}}</h1>
    <p>{{specieDescription}}</p>
    <div class="divider-long"> </div>
  </div>
  <iframe width="100%" height="50%" [src]="sanitize(specieVideo)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</ion-content>
