species-modal {

  .content-wrapper {
    width: 100%;
    text-align: center;
  }

  .icon-property {
    width: 35%;
    max-width: 35%;
  }

  .title {
    text-align: center;
    color: #4747C2;
    font-size: 30px;
    font-weight: normal;
  }

  p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    line-height: 20px;
    padding: 0 15px 0 15px;
    margin-top: 0;
  }

  .divider-short, .divider-long {
    height: 1px;
    border-bottom: 1px solid #FEAA48;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .divider-short {
    width: 80px;
  }

  .divider-long {
    width: 100%;
  }

  iframe {
    margin-top: 30px;
  }

}
